<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jaya_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/jaya_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.JayaGrocery"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".Log_New_Password"
            android:exported="false" />
        <activity
            android:name=".Login_forget_pass_otp"
            android:exported="false" />
        <activity
            android:name=".My_Orders_Detail"
            android:exported="false" />
        <activity
            android:name=".Success"
            android:exported="false" />
        <activity
            android:name=".Order_Confirm"
            android:exported="false" />
        <activity
            android:name=".Cate_products"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetail"
            android:exported="false" />
        <activity
            android:name=".Edit_Password"
            android:exported="false" />
        <activity
            android:name=".Forrget_Pass_Otp"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Refer_Friends"
            android:exported="false" />
        <activity
            android:name=".Help"
            android:exported="false" />
        <activity
            android:name=".My_orders"
            android:exported="false" />
        <activity
            android:name=".Address"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".OtpVerification"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>